# Tuples

It is similar to list. The difference is that it is immutable, no changes after
assigning

* Ordered
* Unchangeble
* Allows Duplicate

# Creating Tuple

In [ ]:
# Empty
t1 = ()
print(t1)

()

In [ ]:
# Single item tuple
t2 = (2)
print(type(t2)) # --> It will us int

t3 = (2,)
print(t3)
print(type(t3))

<class 'int'>
(2,)
<class 'tuple'>

In [ ]:
# Homogeneous Tuple
t = (1,2,3,4)
print(t)

# Heterogeneous Tuple
t1 = (1,5.3,'Sidhi',True)
print(t1)

(1, 2, 3, 4)
(1, 5.3, 'Sidhi', True)

In [ ]:
# 2D
t = (1,2,3,(4,5))
print(t)

(1, 2, 3, (4, 5))

In [ ]:
# Using type Conversion
print(tuple("Hello"))

('H', 'e', 'l', 'l', 'o')

# Accessing Items

* Indexing
* Slicing

In [ ]:
t = (1,2,3,(4,5))
print(t[0])
print(t[-1])

1
(4, 5)

In [ ]:
print(t[0:4:2])
print(t[::-1])

(1, 3)
((4, 5), 3, 2, 1)

In [ ]:
t[-1][0]

4

# Editing Items

In [ ]:
t

(1, 2, 3, (4, 5))

In [ ]:
t[0] = 8
# This will error as it is immutable

TypeError: 'tuple' object does not support item assignment

# Adding Items

In [ ]:
# Not Possible because it is immutable

# Deleting Items

In [ ]:
# Only Can delete tuple as a whole
t3 = (1,2,5,9)
del t3
print(t3)

NameError: name 't3' is not defined

# Operations on Tuple

* Arithmetic
* Membership
* Iteration

In [ ]:
t1 = (4,5,8,6)
t2 = (4,2,5,9)

print(t1+t2)

(4, 5, 8, 6, 4, 2, 5, 9)

In [ ]:
print(t1 * 3)

(4, 5, 8, 6, 4, 5, 8, 6, 4, 5, 8, 6)

In [ ]:
1 in t1

False

In [ ]:
1 not in t1

True

In [ ]:
for i in t1:
  print(i)

4
5
8
6

# Tuple Functions

In [ ]:
# len/min/max/sorted
t = (1,5,6,3,4)
print(len(t))
print(min(t))
print(max(t))
print(sorted(t,reverse = True))
print(sum(t))

5
1
6
[6, 5, 4, 3, 1]
19

In [ ]:
# Count
print(t.count(4))
print(t.count(10)) # Returns 0 if not present

1
0

In [ ]:
# Index
print(t.index(5))
# print(t.index(50)) shows error as it is not present in the tuple

1

Difference b/w Lists and Tuples
* Syntax
* Mutability
* Speed (Tuple faster than List)
* Memory (Tuple less stores than List)
* Error Prone (Tuple less Prone to error)
* Usability (Lists are more usable when changes required, and tuples where changes are not accessible by everyone)
* Built in functionality (List)

# Special Syntax

In [ ]:
# tuple Unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3) # it has to same number on both sides
print(a,b)

ValueError: too many values to unpack (expected 2)

In [ ]:
a = 1
b = 2
a,b = b,a
print(a,b) # Swapping values

2 1

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

# Zip

In [ ]:
a = (1,2,3,4)
b = (4,5,8,6)

tuple(zip(a,b))

((1, 4), (2, 5), (3, 8), (4, 6))

# Tuple Comprehension

In [ ]:
t = (i for i in range(10))
tuple(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Sets

It is unordered collection of data items. Every set has unique elements. It is mutable.

* Unordered
* Mutable
* Unique
* Can't contain mutable data types

# Creating Sets

In [ ]:
# Empty
s = {} # --> Default Dictionary
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [ ]:
# 1D
s1 = {1,2,3}
print(s1)

s2 = {1,2.5,True} # True -> 1 so no duplicates
print(s2)

{1, 2, 3}
{1, 2.5}

In [ ]:
# 2D (Not Possible as set can't contain mutable data types)

# type Conversion
set([1,2,4])

{1, 2, 4}

# Accessing Items

In [ ]:
s1 = {1,2,4,3}
# Does not work as it is unordered

# Editing Items

In [ ]:
# Not Allowed as we can't access

# Adding Items

In [ ]:
s = {1,2,4,5}
print(s)
s.add(8) # single element
print(s)

{1, 2, 4, 5}
{1, 2, 4, 5, 8}

In [ ]:
s = {1,2,4,5}
print(s)
s.update([8,3,6]) # Multiple items within a list
print(s)

{1, 2, 4, 5}
{1, 2, 3, 4, 5, 6, 8}

# Deleting Items

In [ ]:
# del
s = {1,2,4,5}
del s

In [ ]:
# discard
s = {1,4,2,9}
s.discard(4)
print(s)
s.discard(5)  # not throw an error
print(s)

{1, 2, 9}

In [ ]:
# remove
s = {1,4,2,9}
s.discard(4)
print(s)
s.remove(5) # Throw an error
print(s)

{1, 2, 9}

KeyError: 5

In [ ]:
# Pop (Pops out any element)
s = {1,4,2,5}
s.pop()
print(s)

{2, 4, 5}

In [ ]:
# Clear
s = {4,5,8,2}
s.clear()
print(s)

set()

# Set Operations

In [ ]:
# Union/Intersection/Difference/Symmetric Difference

s1 = {4,7,5,8,6}
s2 = {1,4,2,5,3,9}

print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

print(1 in s1)
print(1 not in s1)

for i in s1:
  print(i)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 6, 7}
{1, 2, 3, 6, 7, 8, 9}
False
True
4
5
6
7
8

# Sets Functions

In [ ]:
# len/sum/max/min/sorted
s1 = {4,7,5,8,6}
print(len(s1))
print(min(s1))
print(max(s1))
print(sum(s1))
print(sorted(s1,reverse = True))

5
4
8
30
[8, 7, 6, 5, 4]

In [ ]:
# union/update
# Union has temporary while update has permanent change

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 9}

In [ ]:
# Intersection_update --> It changes the original one
# Difference/-update --> It changes the original one

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {4,5,8,9}
s2 = {1,2,5,6}

print(s1.isdisjoint(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))

False
False
False

# Copy

In [ ]:
s1 = {1,2,3}
s2 = s1.copy() # Stoed at different memories

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

# FrozenSet

* It is immutable version of Python set object
* All the operations union, intersection and many more will work on it
* Add, delete, edit and these functions will not work
* 2D frozenset are possible as they are immutable

In [ ]:
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

# Set Comprehension

In [ ]:
s = {i for i in range(1,11)}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Dictionary

* Collection of key-value pairs
* Known as Associative Arrays
* Mutable
* Indexing has no meaning
* Keys can't be duplicated
* Keys can't be mutable items

# Create Dictionary

In [ ]:
# Empty
d = {}
print(d)

# 1D (Homogeneous)
d1 = {"name": "Sidhi"}
print(d1)

# 1D (Heterogeneous)
d2 = {"name": "Sidhi" , "ID": 45}
print(d2)

{}
{'name': 'Sidhi'}
{'name': 'Sidhi', 'ID': 45}

In [ ]:
# 2D
{'name':'Sidhi','College':'UIET','Sem':6,'Subjects':{'DSA':75,'Maths':85,'English':70}}

{'name': 'Sidhi',
 'College': 'UIET',
 'Sem': 6,
 'Subjects': {'DSA': 75, 'Maths': 85, 'English': 70}}

In [ ]:
d4 = dict([(1,1),{'Name','Sidhi'}])
print(d4)

{1: 1, 'Name': 'Sidhi'}

In [ ]:
d5 = {'Name':["Sidhi","Ajay","Akshay"]}
print(d5)

{'Name': ['Sidhi', 'Ajay', 'Akshay']}

# Accessing Items

In [ ]:
my_dict = {'name':'Sidhi','Age':19}
my_dict['name']

'Sidhi'

In [ ]:
my_dict = {'name':'Sidhi','Age':19}
my_dict.get('name')

'Sidhi'

In [ ]:
d = {'name':'Sidhi','College':'UIET','Sem':6,'Subjects':{'DSA':75,'Maths':85,'English':70}}
d['Subjects']['Ds'] = 75
print(d)

{'name': 'Sidhi', 'College': 'UIET', 'Sem': 6, 'Subjects': {'DSA': 75, 'Maths': 85, 'English': 70, 'Ds': 75}}

# Adding Key-value Pair

In [ ]:
my_dict['Gender'] = 'Female'
my_dict

{'name': 'Sidhi', 'Age': 19, 'Gender': 'Female'}

# Removing Pair

In [ ]:
# Pop
d = {'name':'Sidhi',3:3,'gender':'Female','Age':19}
d.pop(3)
print(d)

{'name': 'Sidhi', 'gender': 'Female', 'Age': 19}

In [ ]:
# Popitem (Deletes last item)
d.popitem()
print(d)

{'name': 'Sidhi', 'gender': 'Female'}

In [ ]:
# del
del my_dict

In [ ]:
del d['name']
print(d)

{'gender': 'Female'}

In [ ]:
# Clear
d.clear()
print(d)

{}

# Editing key-value Pair

In [ ]:
d = {'name':'Sidhi','College':'UIET','Sem':6,'Subjects':{'DSA':75,'Maths':85,'English':70}}
d['Sem'] = 8
d['Subjects']['DSA'] = 80
print(d)

{'name': 'Sidhi', 'College': 'UIET', 'Sem': 8, 'Subjects': {'DSA': 80, 'Maths': 85, 'English': 70}}

# Dictionary Operations
* Membership
* Iterations

In [ ]:
d

{'name': 'Sidhi',
 'College': 'UIET',
 'Sem': 8,
 'Subjects': {'DSA': 80, 'Maths': 85, 'English': 70}}

In [ ]:
'Sidhi' in d
# It is founding 'Sidhi' as key

False

In [ ]:
'Name' in d

False

In [ ]:
for i in d:
  print(i)

name
College
Sem
Subjects

In [ ]:
for i in d:
  print(d[i])

Sidhi
UIET
8
{'DSA': 80, 'Maths': 85, 'English': 70}

In [ ]:
for i in d:
  print(i,d[i])

name Sidhi
College UIET
Sem 8
Subjects {'DSA': 80, 'Maths': 85, 'English': 70}

# Dictionary Functions

In [ ]:
# len/sorted
print(len(d))
print(sorted(d))
print(max(d))

4
['College', 'Sem', 'Subjects', 'name']
name

In [ ]:
# items/keys/values
print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'Sidhi', 'College': 'UIET', 'Sem': 8, 'Subjects': {'DSA': 80, 'Maths': 85, 'English': 70}}
dict_items([('name', 'Sidhi'), ('College', 'UIET'), ('Sem', 8), ('Subjects', {'DSA': 80, 'Maths': 85, 'English': 70})])
dict_keys(['name', 'College', 'Sem', 'Subjects'])
dict_values(['Sidhi', 'UIET', 8, {'DSA': 80, 'Maths': 85, 'English': 70}])

In [ ]:
# Update
# Updating the vlaues on the basis of other dict

d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

# Dictionary Comprehension

In [ ]:
d = {i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

# Zip

In [ ]:
a = [1,45,8]
b = ['Monday','Tuesday','Wednesday']

{i:j for (i,j) in zip(a,b)}

{1: 'Monday', 45: 'Tuesday', 8: 'Wednesday'}

# Nested Comprehension

In [ ]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}