# Lists
List are the data types where you can store multiple items under one name. Technically, lists are like dynamic array which means we can add more items on the fly.

# Array Vs List
Advantages
*   Fixed Vs Dynamic Size
*   Convenience (Homogeneous and   Heterogeneous data types)

Disadvantages
*   Speed of Execution (Speed of Lists is slow than arrays)
*   Memory (Memory of List is more than array)

# How Lists are Stored in Memory
In list, instead of storing values, we store the address of the memory block in which those values are stored. And list also has some address of itself.
It is also known as  Referential Array.
That's why it is slower and taking up more space than array.

# Characteristics of List
* Ordered
* Changeble/Mutable (That's why they are risky in nature)
* Heterogeneous
* Can Have Duplicates
* Are Dynamic
* Can be Nested
* Items can be Accessed
* Can contain any kind of objects

# Creating A List

Empty

In [ ]:
print([])

[]

1D List

In [ ]:
print([1,2,3,4,5])
# Homogeneous

[1, 2, 3, 4, 5]

2D List

In [ ]:
print([1,2,5,[4,5]])
# Heterogeneous i.e. int and List data types

[1, 2, 5, [4, 5]]

3D List

In [ ]:
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Homogeneous

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
print([1,5.2,True,6+5j,'Hello'])
# Truly Heterogeneous

[1, 5.2, True, (6+5j), 'Hello']

In [ ]:
print(list("Hello"))
# Type Conversion

['H', 'e', 'l', 'l', 'o']

# Accessing Items in a List

In [ ]:
# Positive Indexing
l = [1,2,5,3,6]
print(l[0])

# Negative Indexing
print(l[-3])

l1 = [1,2,5,[4,3]]
print(l1[3][0])

l2 = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(l2[1][0][0])

1
5
4
5

In [ ]:
# Slicing

l = [1,2,5,3,6]
print(l[0:3])
print(l[-3:])
print(l[0::2])
print(l[::-1]) # --> Reversing a List

[1, 2, 5]
[5, 3, 6]
[1, 5, 6]
[6, 3, 5, 2, 1]

# Adding Items to a List

In [ ]:
# Append
# Adds one single item at the end of List
l = [1,4,5,8,9]
l.append(7)
print(l)

l = [1,4,5,9]
l.append([1,4,5])
print(l)

[1, 4, 5, 8, 9, 7]
[1, 4, 5, 9, [1, 4, 5]]

In [ ]:
# Extend
# It appends multiple Items at the end of List
l = [1,2,5,6]
l.extend([1,4,5])
print(l)

l = [1,2,5,3]
l.extend("Delhi")
print(l)

[1, 2, 5, 6, 1, 4, 5]
[1, 2, 5, 3, 'D', 'e', 'l', 'h', 'i']

In [ ]:
# Insert
# Inserting in between some values i.e. at some index
# Syntax is Index / Value
l = [1,2,5,4]
l.insert(1,100)
print(l)

[1, 100, 2, 5, 4]

# Editing Items in a List

In [ ]:
l = [1,2,3,4,5]
l[-1] = 500
print(l)

l[1:4] = [20,30,40]
print(l)

[1, 2, 3, 4, 500]
[1, 20, 30, 40, 500]

# Deleting Items in a List

In [ ]:
# del
# It will delete but actually it doesnot delete in the memory
L = [1,2,3,4,5]
print(L)
del L
# print(L)

[1, 2, 3, 4, 5]

In [ ]:
# Indexing
L = [1,2,3,4,5]
del L[-1]
print(L)

del L[1:3]
print(L)

[1, 2, 3, 4]
[1, 4]

In [ ]:
# Remove
# Remove item according to the value

L = [1,2,3,4,5]
L.remove(5)
print(L)

[1, 2, 3, 4]

In [ ]:
# Pop
# Deleting item at Particular Index
# And Default if index is not provided, then it deletes the last element
L = [1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [ ]:
# Clear
# Deletes all the elements not the list
L = [1,2,3,4]
L.clear()
print(L)

[]

# Operations on Lists
* Arithmetic
* Membership
* Loop

In [ ]:
# Arithmetic (+,*)

l1 = [1,2,5,3]
l2 = [4,7,5,9]

print(l1+l2)
print(l1*2)

[1, 2, 5, 3, 4, 7, 5, 9]
[1, 2, 5, 3, 1, 2, 5, 3]

In [ ]:
# MemberShip

L1 = [1,4,2,5]
L2 = [4,5,8,[6,2]]

print(5 in L1)
print(6 in L2)
print([6,2] in L2)

True
False
True

In [ ]:
# Loop

l1 = [1,2,5,3,6]

for i in l1:
  print(i)

1
2
5
3
6

In [ ]:
l1 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in l1:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

# List Functions

In [ ]:
# len/min/max/sorted

L = [2,4,1,9,5]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse = True)) # This is not a Permanent

5
1
9
[9, 5, 4, 2, 1]

In [ ]:
# Count

L = [1,2,4,1,5,8,6]
L.count(1)

2

In [ ]:
# Index
# Displays the first Occurrence
L = [4,5,8,9,3]
L.index(8)

2

In [ ]:
# Reverse
# This is a permanent Operation
l = [1,2,5,8,9]
l.reverse()
print(l)

[9, 8, 5, 2, 1]

In [ ]:
# Sort
# Permanent Operation
L = [4,5,8,2,3]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[4, 5, 8, 2, 3]
[2, 3, 4, 5, 8]
[4, 5, 8, 2, 3]
[2, 3, 4, 5, 8]

In [ ]:
# Copy
# Shallow Copy (Same List at different Address)
L = [1,2,5,8,3]
print(id(L))
l1 = L.copy()
print(l1)
print(id(l1))

136302646497664
[1, 2, 5, 8, 3]
136302645296384

# List Comprehension
List Comprehension provides a concise way of creating lists

newlist = [expression for item in iterable if condition == True]

Advantages of List Comprehension
* More time - Efficient and Space Efficient than loops
* Require fewer lines of Code
* Transforms Iterative statement into a formula

In [ ]:
# Adding 1 - 10 numbers to a list
l = []

for i in range(1,11):
  l.append(i)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Scalar Multiplication on a vector
v = [2,3,4]
s = -2

# Here v*s will lead to list repetition

v = [i*s for i in v]
print(v)

[-4, -6, -8]

In [ ]:
# Add Squares
l = [1,2,5,3]
l = [i**2 for i in l]
print(l)

[1, 4, 25, 9]

In [ ]:
# Print All numbers Divisible by 5 in the range of 1-50
l = [i for i in range(1,51) if i%5 == 0]
print(l)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# Find Languages Starting with Letter 'P'
l = ['Java','Python','Php','C','JavaScript']
l = [i for i in l if i[0] == 'P']
print(l)

['Python', 'Php']

In [ ]:
# Making a new list of fruits which are present in basket and starts with letter 'a'

basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

l = [i for i in my_fruits if i in basket and i.startswith('a')]
print(l)

['apple']

In [ ]:
# Print a 3*3 Matrix using List Comprehension
l = [[i*j for i in range(1,4)] for j in range(1,4)]
print(l)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# Cartesian Product of elements of lists
l1 = [1,4,2,5]
l2 = [5,2,6,3]

l = [i*j for i in l1 for j in l2]
print(l)

[5, 2, 6, 3, 20, 8, 24, 12, 10, 4, 12, 6, 25, 10, 30, 15]

# Ways to traverse List
* Itemwise
* Indexwise

In [ ]:
# Itemwise
l = [1,2,3,4]

for i in l:
  print(i)

1
2
3
4

In [ ]:
# Indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(i,L[i])

0 1
1 2
2 3
3 4

# Zip
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator are paired together, and then the second item in each passed iterator are paired together. If the passed iterators have different length, the iterator with the least items decides the length of the new iterator

In [ ]:
# Write a program to add items of 2 lists indexwise
l1 = [1,2,4,5]
l2 = [-1,-2,-3,-4]

l3 = list(zip(l1,l2))
print(l3)

l3 = [i+j for i,j in zip(l1,l2)]
print(l3)

[(1, -1), (2, -2), (4, -3), (5, -4)]
[0, 0, 1, 1]